<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="agronomia.coprotrab.agrokot">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".Clases.DataResources.SharedApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Actividades.MainActivity" />
        <activity android:name=".Actividades.FichaActivity" />
        <activity android:name=".Actividades.SincronizacionActivity" />
        <activity android:name=".Actividades.SocioActivity" />
        <activity android:name=".Actividades.FGeneralesActivity" />
        <activity android:name=".Actividades.LoginActivity" />
        <activity android:name=".Actividades.FAgronomicosActivity" />
        <activity android:name=".Actividades.FInfraestructuraActivity" />
        <activity android:name=".Actividades.FAlmacigosActivity" />
        <activity android:name=".Actividades.PopAgegar"/>
        <activity android:name=".Actividades.PopEliminar"/>
        <activity android:name=".Actividades.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Actividades.AyudaActivity"></activity>
    </application>

</manifest>